.App {
  color: #110805
}


/* NAV */

/* Page Header */

.page-header {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background: white;
}

.page-header-title {
  display: flex;
  align-items: baseline;
}

.page-header-body {
  padding-left: 20px;
  padding-top: 21.5px;
}

#BIUndo {
  padding: 10px;
  margin: 10px;
  color: #110805;
}

/* Main Header */

.link-container {
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.link-container h2 {
  color: #1D81EA;
  font-size: 1rem;
  border-style: solid;
  padding: 10px;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
}

/* Intro */

.intro {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  background: #1D81EA;
}
.intro h1 {
  color: white;
}

.intro-image {
  height: 60px;
  width: auto;
  padding-top: 15px;
}


/* DBs - currently proto nav on home page */

.dbs-container {
  padding: 50px;
}

/* Spinner */

.spinner {
  position: absolute;
  top: 50%;
  right: 50%;
}


/* Instructions Card */

.instructions {
  background-color: white;
  width: 300px;
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 0px;
  margin: 10px;
  border-radius: 5px;
}

.instructions-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.instructions p {
  padding: 10px;
}

#InstructionsClose, #InstructionsOpen {
  background: white;
  border-width: 0px;
  border: none;
  padding: 0;
  color: #110805;
}

.instructions button {
  border-width: 0;
  background: white;
  padding: 5px;
}

/* Marker Comment */

.marker {
  cursor: pointer;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

#icon {
  height: 30px;
  width: auto;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.comment {
  background: rgb(255, 255, 255);
  position: absolute;
  
  top: 10px;
  right: 50px;
  padding: 10px 10px;
  margin: 0;
  font-size: 14px;
  border-radius: 3px;
  }

  .add-form {
    margin-bottom: 40px;
  }
  
  .form-control {
    margin: 20px 0;
  }

  .form-control label {
    display: block;
  }
  
  .form-control input {
    width: 80%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }

  .form-control h2 {
    padding-left: 5px;
  }

  .form-control textarea {
    width: 80%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }

  /* Basic Comment */

  .basic-comment {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Post it Comments */

  .postit-page {
    /* background: url('images/houses/h-1-terrace.jpg'); */
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
   
  }

  .postit-container {
    /* background: url('images/houses/h-1-terrace.jpg');
    background-size: cover; */
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    text-align: center;
    
    /* width: 100vw;
    height: 100vh; */
    
  }

  .postit {
    padding: 5px;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    font-size: 2rem;
    font-weight: bold;
  }

  .popup {
    margin: 0;
    padding: 0;
  }

  /* House Styles Component - Display House Images */

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .image img {
    width: 400px;
    height: auto;
  }


  /* Forms */

  .form-view-container {
    /* overflow: hidden; */
  }

  .form-view {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    background: url('images/houses/h-4-l-shape.jpg');
    background-size: cover;
    background-attachment: fixed;
    
  }


  /* Landing Page */

  .landing-page {
    background: url('images/map-with-comments.jpeg');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;

  }

  .landing-page-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;

  }

  .landing-page-header {
    display: flex;
    height: 300px;
    background-color: #1D81EA;
    color: #fff;
    position: relative;
    padding: 20px;
    margin: 20px;
  }

  .landing-page-header-text {
    padding-left: 40px;
  }

  .landing-page-header img {
    height: 90%;
    width: auto;
  }

  .landing-page-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 10px;
  }

  .page {
    padding: 5px;
    border-radius: 5px;
    background: #8b8785;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
  }

  /* Location */

  .location-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .location {
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  /* background: url('images/default_background.jpeg') */
 }

 .location-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 10px;
   padding: 10px;
 }

  .location-feature {
    background: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .location-info {
    background-color: white;
    width: 300px;
    padding: 0px;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 5px;
  }

  .location-info p {
    padding: 0 10px;
  }

  /* Story Feature */

  .story {
    background: #736A72;
    height: 100vh;
  }

  .story-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #736A72;
    
  }

  .story-container .btn-back {
    position: fixed;
    left: 16vw;
    top: 50vh;
    background: #736A72;
    border-width: 0px;
    padding: 0;
  }

  .story-container .btn-next {
    position: fixed;
    right: 16vw;
    top: 50vh;
    background: #736A72;
    border-width: 0px;
    padding: 0;
  }

  #FaAngleRight {
    background: inherit;
    color: white;
  }

  #FaAngleLeft {
    background: inherit;
    border-width: 0px;
  }

  .story-card {
    width: 500px;
    background: #F8F9F2;
  }

  .story-card p, h1, h3 {
    padding: 10px;
  }

  .story-card img {
    width: inherit;
  }

  .story-card iframe {
    width: inherit;
  }


  /* Drawing */

  .drawing-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plan-area {
    width: 640px;
    height: 416px;
  }

  .drawing-area {
    background: url('images/fishermans-station.png')
  }


  /* Media Queries */

  @media(max-width: 1580px) {
    .image-grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .img {
      width: 300px;
    }
  }

  @media(max-width: 1580px) {
    .postit-container {
      grid-template-columns: repeat(4, 1fr);
    }
  
  }

  @media(max-width: 1260px) {
    .image-grid, .postit-container  {
      grid-template-columns: repeat(3, 1fr);
    }
    .img {
      width: 200px;
    }

  }

  @media(max-width: 930px) {
    .postit-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .img {
      width: 200px;
    }

    .story-card {
      width: 400px;
    }

    #vimeo {
      width: 400px;
      height: auto;
    }
  }

  @media(max-width: 700px) {
    .image-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .img {
      width: 200px;
    }
    .postit {
      width: 200px;
      height: 200px;
      font-size: 1.5rem;
    }

    .story-card {
      width: 300px;
    }

    .story-container .btn-next {
      right: 8vw;
    }

    .story-container .btn-back {
      left: 8vw;
    }

    #vimeo {
      width: 300px;
      height: auto;
    }
  }

  @media(max-width: 500px) {
    .image-grid, .postit-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .img {
      width: 300px;
    }

    .story-container .btn-next {
      right: 0vw;
    }

    .story-container .btn-back {
      left: 0vw;
    }

    #vimeo {
      width: 300px;
      height: auto;
    }
  }