.App {

}


/* NAV */

.page-header {
  display: flex;
  /* justify-items: center; */
  justify-content: space-around;
  margin: 0;
  padding: 0;
  background: white;
}

.page-header-title {
  display: flex;
}

.page-header-title {

}

.page-header-body {
  padding-left: 20px;
  padding-top: 21.5px;
}

#BIUndo {
  padding: 10px;
  margin: 10px;
}

.link-container {
  /* display: flex;
  padding: 10px; */
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.link-container h2 {
  color: #1D81EA;
  font-size: 1rem;
  border-style: solid;
  padding: 10px;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
}

.intro {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  background: #1D81EA;
}
.intro h1 {
  color: white;
}

.intro-image {
  height: 60px;
  width: auto;
  padding-top: 15px;
}

.dbs-container {
  padding: 50px;
}

.instructions {
  background-color: white;
  width: 300px;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  
}

.instructions-header {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.marker {
  cursor: pointer;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}


#icon {
  height: 30px;
  width: auto;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}


.comment {
  background: rgb(255, 255, 255);
  position: absolute;
  top: 40px;
  right: 50px;
  padding: 10px 10px;
  margin: 0;
  font-size: 14px;
  border-radius: 3px;
  }

  .add-form {
    margin-bottom: 40px;
  }
  
  .form-control {
    margin: 20px 0;
  }
  
  .form-control label {
    display: block;
  }
  
  .form-control input {
    width: 80%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }

  .postit-page {
    background: url('images/houses/h-1-terrace.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .postit-container {
    /* background: url('images/houses/h-1-terrace.jpg');
    background-size: cover; */
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    text-align: center;
  }

  .postit {
    padding: 5px;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    font-size: 2rem;
    font-weight: bold;
  }

  .popup {
    margin: 0;
    padding: 0;
  }

  /* House Styles Component - Display House Images */

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .image img {
    width: 400px;
    height: auto;
  }


  .form-view {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    background: url('images/houses/h-4-l-shape.jpg');
    background-size: cover;
    background-attachment: fixed;
  }


  /* Landing Page */

  .landing-page {
    background: url('images/map-with-comments.jpeg');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;

  }

  .landing-page-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;

  }

  .landing-page-header {
    display: flex;
    height: 300px;
    background-color: #1D81EA;
    color: #fff;
    position: relative;
    padding: 20px;
    margin: 20px;
  }

  .landing-page-header-text {
    padding-left: 40px;
  }

  .landing-page-header img {
    height: 90%;
    width: auto;
  }

  .landing-page-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 10px;
  }

  .page {
    padding: 5px;
    border-radius: 5px;
    background: #8b8785;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
  }

  /* Media Queries */


  @media(max-width: 1580px) {
    .image-grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .img {
      width: 300px;
    }
  }

  @media(max-width: 1580px) {
    .postit-container {
      grid-template-columns: repeat(4, 1fr);
    }
  
  }

  @media(max-width: 1260px) {
    .image-grid, .postit-container  {
      grid-template-columns: repeat(3, 1fr);
    }
    .img {
      width: 200px;
    }
  }

  @media(max-width: 930px) {
    .postit-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .img {
      width: 200px;
    }
  }

  @media(max-width: 700px) {
    .image-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .img {
      width: 200px;
    }
    .postit {
      width: 200px;
      height: 200px;
      font-size: 1.5rem;
    }
  }

  @media(max-width: 500px) {
    .image-grid, .postit-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .img {
      width: 300px;
    }
  }