:root {
  --rhs-color: #1D81EA;
  --dark-color: #110805;
  --light-color: #ffffff;
  --mid: #8b8785;
  --postit: #ff61b8;
  --story: #736A72;
  --story-light: #F8F9F2;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

/* var(--rhs-color) */
/* var(--dark-color) */
/* var(--light-color) */
/* var(--mid) */
/* var(--story) */
/* var(--story-light) */
/* var(--postit) */
/* var(--success-color) */
/* var(--error-color) */

.App {
  color: var(--dark-color);
}

h1 {
  padding: 0;
}

/* NAV */


/* User */

.profile {
  margin: auto;
  padding: 12px;
}

.profile p, h1, h2{
  color: black;
}

.form {
  width: 60%;
  margin: 0 auto;
}

.form-group {
  display: block;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

/* #FormSelect {
  margin-top: 20px;
  margin-left: 200px;
  width: 150px;
} */



/* Landing page */

.landing-page p {
  color: black;
}

/* Page Header */

.page-header {
  display: flex;
  height: 70px;
  justify-content: space-around;
  margin-bottom: 0px;
  padding-bottom: 30px;
  background: var(--light-color);
}

.page-header-title {
  display: flex;
  align-items: baseline;
}

.page-header-title h1 {
  font-size: 1.5rem;
}

.page-header-body {
  padding-left: 20px;
  padding-top: 21.5px;
  color: black;
}

#BIUndo {
  padding: 6px;
  margin: 10px;
  color: var(--dark-color);
}

/* Main Header */

.link-container {
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.link-container h2 {
  color: var(--rhs-color);
  font-size: 1rem;
  border-style: solid;
  padding: 10px;
  border-width: 1px;
  border-color: var(--dark-color);
  border-radius: 5px;
}

/* Login */

.login {
  margin: auto
}

.login button {
  width: 100px;
  height: 80px;
  border-radius: 5px;
  font-weight: 600;
}

.login-btn {
  background-color: #ff61b8;
  margin: auto;
  padding: 10px;
  width: 200px;
  color: white;
  font-size: 1.4rem;
  border-radius: 5px;
}

.login-btn a {
  color: white;
  font-weight: 400;
}

/* User */

.user-main {
  padding: 10px;
  margin: 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url('images/houses/h-4-l-shape.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.user-info {
  background-color: white;
  padding: 20px;
  color: black
}

.user-info p {
  color: black
}

.to-app {
  display: flex;
  padding-top: 10px;
}

.user-bold {
  font-weight: 600;
}



/* Intro */

.intro {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  background: var(--rhs-color);
}
.intro h1 {
  color: var(--light-color);
}

.intro-image {
  height: 60px;
  width: auto;
  padding-top: 15px;
}

.intro-text {
  color: black;
}

.btn-intro {
  padding: 5px;
  margin: 5px;
} 

/* Projects */

.home-page {
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
}

.home-page p {
  color: black;
}

.icon-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.icon-container > svg {
  padding: 5px;
}

.dbs-container {
  padding: 50px;
  color: (var(--dark-color));
}

.dbs-container h1 {
  padding: 0px;
}

.intro-container {
  text-align: left;
  margin: auto;
  width: 100%;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.project {
  width: 100%;
  border-radius: 5px;
  background-color: #1D81EA;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

/* Footer */

.footer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 40px;
}

/* Spinner */

.spinner {
  position: absolute;
  top: 50%;
  right: 50%;
}


/* Instructions Card */

.basic-instructions {
  background-color: var(--light-color);
  width: 300px;
  position: absolute;
  top: 100px;
  left: 20px;
  padding: 0px;
  margin-top: 5px;
  margin-left: 18px;
  border-radius: 5px;
}


.instructions {
  background-color: var(--light-color);
  width: 300px;
  position: absolute;
  top: 4px;
  left: 20px;
  
  padding: 0px;
  margin-top: 5px;
  margin-left: 18px;
  border-radius: 5px;
}

.instructions-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-left: 8px;
  padding: 0px;
}

.instructions {
  padding: 6px;
}

#InstructionsClose, #InstructionsOpen {
  background: var(--light-color);
  border-width: 0px;
  border: none;
  padding: 0;
  color: var(--dark-color);
}

.instructions button {
  border-width: 0;
  background: var(--light-color);
  padding: 5px;
}



/* Marker / Site Comment */

.marker {
  cursor: pointer;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

#icon {
  height: 30px;
  width: auto;
}

.btn {
  display: inline-block;
  background: var(--dark-color);
  color: var(--light-color);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.comment {
  background: var(--light-color);
  position: absolute;
  
  top: 0px;
  width: 100%;
  /* right: 10px; */
  padding-left: 20px;
  margin: 0;
  font-size: 14px;
  border-radius: 3px;
  }

  .add-form {
    margin-bottom: 40px;
    background-color: var(--light-color);
    border-radius: 5px;
    padding-left: 10px;
  }
  
  .form-control {
    margin: 20px 0;
    justify-content: center;
    padding: 5px;
  }

  .form-control textarea {
    align-items: center;
    justify-content: center;
  }

  .form-control label {
    display: block;
  }
  
  .form-control input {
    width: 80%;
    height: 60px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }

  .form-control h2 {
    padding-left: 5px;
  }

  .form-control textarea {
    width: 80%;
    height: 60px;
    margin: 0px;
    padding: 3px 7px;
    font-size: 17px;
  }

  .popup {
    margin: 0;
    padding: 0;
  }


  /* Basic Comment */

  .basic-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
  }

  /* Post it Comments */

  .postit-page {
    background: url('images/houses/h-1-terrace.jpg');
    background-size: cover;
    background-attachment: fixed;
    /* width: 100vw;
    height: 100vh; */
   
  }

  .postit-container {
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    text-align: center;
    overflow: scroll;
    height: 100vh;
    /* height: calc(50vw - 5px); */
  }
 

  .postit {
    width: 100%;
    /* height: auto; */
    height: calc(20vw - 5px);
    padding: 5px;
    background: var(--postit);
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }





  /* House Styles Component - Display House Images */

  .house-title {
    font-size: 1.4rem;
    padding-left: 10px
  }

  .house-para {
    padding-left: 10px;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }

  .image {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: var(--mid);
    /* z-index: 1; */
  }

  .image-overlay {
    position: relative; 
    z-index: 1;
  }

  .image img {
    width: 100%;
    height: auto;
  }

  .star-display {
    position: absolute; 
    top: 0px; 
    left: 0px;
    z-index: 3;
  }


  /* Forms */

  .form-view-container {
    /* overflow: hidden; */
  }

  .form-view {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    background: url('images/houses/h-4-l-shape.jpg');
    background-size: cover;
    background-attachment: fixed;
    
  }


  /* Survey Responses */

  .survey-report-container{
    background: url('images/map-with-comments.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
  }

  .survey-report-header {
    background-color: white;
  }

  .responses-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }

  .question {
    padding: 12px;
   background-color: var(--light-color);
   border-radius: 5px;
  }

  .answer {
    display: flex;
    flex-direction: row;
  }
  .answer h2 {
    padding-right: 5px;
  }

  .markers {
    display: flex;
  }

  /* Landing Page */

  .landing-page {
    background: url('images/map-with-comments.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;

  }

  .landing-page-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;

  }

  .landing-page-header {
    /* display: flex; */
    /* height: 300px; */
    background-color: var(--rhs-color);
    color: var(--light-color);
    position: relative;
    padding: 20px;
    margin: 20px;
  }

  .landing-page-header p {
    padding: 10px;
  }

  .landing-page-img-container {
    /* width: inherit;
    display: block; */
   
  }

  .landing-page-header img {
    /* height: 90%;
    width: auto; */
    width: 100%;
    
  }

  .landing-page-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 10px;
  }

  .page {
    padding: 5px;
    border-radius: 5px;
    background: var(--mid);
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
  }

  /* Location */

  .location-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .location {
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  /* background: url('images/default_background.jpeg') */
 }

 .location-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 10px;
   padding: 10px;
 }

  .location-feature {
    background: var(--mid);
    border-radius: 5px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
  }

  .location-feature h3, p {
    color: black;
  }

  .block-content{
    color: black;

  }

  .location-feature a {
    text-decoration: none;
  }

  .location-feature a:visited {
    color: var(--success-color);
  }

  .location-info {
    background-color: var(--light-color);
    width: 300px;
    padding: 0px;
    margin: 10px;
    border-radius: 5px;
    padding-bottom: 5px;
  }

  .location-info p {
    padding: 0 10px;
  }


  .hidden-div {
    display: none;
  }

  .closed h3 {
    /* background-color: gray; */
    color: rgb(180, 177, 177);
  }

  /* Story Feature */

  .story {
    background: var(--story);
    height: 100vh;
  }

  .story-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: var(--story);
    
  }

  .story-container .btn-back {
    position: fixed;
    left: 16vw;
    top: 50vh;
    background: var(--story);
    border-width: 0px;
    padding: 0;
  }

  .story-container .btn-next {
    position: fixed;
    right: 16vw;
    top: 50vh;
    background: var(--story);
    border-width: 0px;
    padding: 0;
  }

  #FaAngleRight {
    background: inherit;
    color: var(--light-color);
  }

  #FaAngleLeft {
    background: inherit;
    border-width: 0px;
  }

  .story-card {
    width: 500px;
    background: var(--story-light);
  }

  .story-card p, h1, h3 {
    padding: 10px;
    color: black;
  }

  .story-card img {
    width: inherit;
  }

  .story-card iframe {
    width: inherit;
  }


  /* Drawing */

  .drawing-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plan-area {
    width: 640px;
    height: 416px;
  }

  .drawing-area {
    background: url('images/fishermans-station.png')
  }


  /* Media Queries */

  @media(max-width: 1580px) {
    .image-grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .img {
      width: 300px;
    }
  }

  @media(max-width: 1580px) {
    .postit-container {
      grid-template-columns: repeat(4, 1fr);
    }
  
  }

  @media(max-width: 1260px) {
    .image-grid, .postit-container  {
      grid-template-columns: repeat(3, 1fr);
    }
    .img {
      width: 200px;
    }

  }

  @media(max-width: 930px) {
    .postit-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .img {
      width: 200px;
    }

    .story-card {
      width: 400px;
    }

    #vimeo {
      width: 400px;
      height: auto;
    }
  }

  @media(max-width: 700px) {
    .image-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .img {
      width: 200px;
    }
    .postit {
      width: 200px;
      height: 200px;
      font-size: 1.5rem;
    }

    .story-card {
      width: 300px;
    }

    .story-container .btn-next {
      right: 8vw;
    }

    .story-container .btn-back {
      left: 8vw;
    }

    #vimeo {
      width: 300px;
      height: auto;
    }
  }

  @media(max-width: 500px) {
    .image-grid, .postit-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .img {
      width: 300px;
    }

    .story-container .btn-next {
      right: 0vw;
    }

    .story-container .btn-back {
      left: 0vw;
    }

    #vimeo {
      width: 300px;
      height: auto;
    }


    /* Page Header */
    .page-header {
      display: flex;
      height: 50px;
      /* justify-content: space-around; */
      margin: 0;
      padding-bottom: 50px;
      background: var(--light-color);
    }
    
    /* .page-header-title {
      display: flex;
      align-items: baseline;
    } */
    
    .page-header-title h1 {
      font-size: 0.7rem;
    }
    
    .page-header-body {
      padding-left: 20px;
      padding-top: 0px;
    }
    .page-header-body p {
      color: black;
    }

    
    #BIUndo {
      padding: 2px;
      margin: 6px;
      color: var(--dark-color);
    }

    /* Intro */

    .intro {
      padding-bottom: 4px;
      display: flex;
      justify-content: space-between;
      background: var(--rhs-color);
    }
    .intro h1 {
      color: var(--light-color);
      padding: 1;
      margin: 0;
      font-size: 1rem;;
    }

    .intro-2 {
      color: var(--light-color);
      background: var(--rhs-color);
    }
    
    .intro-image {
      height: 40px;
      width: auto;
      padding-left: 4px;
      /* padding-top: 15px; */
    }

    /* Projects */

    .home-page {
      text-align: center;
      padding-top: 0px;
      margin-top: 0px;
    }

    .home-page p {
      color: black;
    }

    .home-page h1 {

    }

    .icon-container {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }

    .icon-container > svg {
      padding: 5px;
    }

    .dbs-container {
      padding: 20px;
      color: (var(--dark-color));
    }

    .dbs-container h1 {
      padding: 0px;
    }

    .greeting {
      
    }

    .projects-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
    }

    .project {
      width: 100%;
      border-radius: 5px;
      background-color: #1D81EA;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
    }

    .footer {

    }


    /* Location */

  

    .landing-page-header {
      display: block;
      width: 100%;
      padding: 0px;
      margin: 0px;
      color: black;
      background: var(--light-color)
    }

    .landing-page-header img {
      padding: 0px;
      margin: 0px;
      width: 100%;
      height: auto;
    }

    .landing-page-header-text {
       color: black;
       background: var(--light-color);
       padding: 0;
       padding-bottom: 12px;
    }
    .landing-page-header-text p {
      color: black;
      padding: 12px;
    }

    .info-box {
      background-color: var(--light-color);
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      color: black;
    }
  
   .location {
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
   }
  
   .location-grid {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-gap: 8px;
     padding: 8px;  
   }
  
    .location-feature {      
      padding: 8px;
      font-size: 1rem;
    }

    /* Survey Report Page */

    .responses-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    .markers{
      display: flex;
      flex-wrap: wrap;
    }


  /* Post it Comments */

  /* .postit-page {
    background: url('images/houses/h-1-terrace.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
   
  } */

  .postit-container {
    /* margin: 10px;
    padding: 10px;
    display: grid; */
    grid-template-columns: repeat(1, 1fr);
    /* grid-gap: 20px; */
    text-align: left;
    /* height: calc(50vw - 5px); */
  }
 

  .postit {
    width: 100%;
    height: auto;
    font-size: 1.4rem;
  }

.postit small {
  color: white;
}

  .postit p {
    padding: 5px;
  }


  }