.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    
}

.modal img {
    width: 400px;
    height: auto
}

.modal-main {
    position: fixed;
    background: white;
    display: flex;
    width: 60%;
    height: auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-info {
    width: 400px;
    padding-right: 10px;
}
.modal-info h1 {
    padding: 0;
}

.modal-close {
    position: fixed;
    bottom: 0;
    right: 0;
}

.modal-textarea {
    width: 400px;
}

.display-block{
    display: block;
}

.display-none {
    display: none;
}